.root{
          --primary-color: rgb(250, 212, 39);
          --primary-bg-text-color: black;
          --secondary-color: rgb(79, 67, 15);
          --secondary-bg-text-color: white;
          --body-bg-color: rgba(245, 245, 245);
          --success-color: rgb(25, 134, 83);
          --success-bg-text-color: white;
          --warning-color: rgb(255, 193, 7);
          --warning-bg-text-color: white;
          --danger-color: rgb(220, 56, 72);
          --danger-bg-text-color: white;
          --gray-color: rgb(130, 126, 125);
          }
          
         .registration-container {
          min-height: 100vh;
          display: flex;
          flex-direction: column;
          background-color: var(bg-background);
        }
         body {
          background-color: var(--body-bg-color);
          
        }

       
        .construction-banner {
          background-color: var(--warning-color);
          color: var(--warning-bg-text-color);
         
         
          font-weight: 600;
          line-height: 5px;
        }
        .cardtitle{
           font-size: 16px;
           color: var(--secondary-color);
           font-weight: 700;
           margin: 0;
        }
        
        .password{
           font-size: 14px;
         }


        // -----------------Media-screen-----------------

         @media (max-width: 576px) {
          .registration-card {
            padding: 100px;
          }

          .app-name {
            font-size: 28px;
          }
          .otp-input {
            width: 45px;
            height: 45px;
            font-size: 18px;
          }
        .head-text {
            line-height: 1;          
            color: var(--secondary);
            font-size: 32px;
          }
        input:focus {
              background-color: #ffffff;
          }
        }